{% extends "admin/change_form.html" %}

{% block field_sets %}
{% for fieldset in adminform %}
	{% include "admin/includes/fieldset.html" %}
	{% if fieldset.name == '音檔' and original.音檔.原始檔 != None %}
		<fieldset class="module aligned wide">
    		<div class='form-row'>
	            <label for="id_mediaElementID">音檔片段：</label>
	    		<audio controls id='mediaElementID'>
		        	<source src="/音檔/{{original.音檔.id}}/{{original.聲音開始時間}}/{{original.聲音結束時間}}/audio.wav">
		        	Your browser does not support the audio element.
	    		</audio>
			</div>
		</fieldset>
  	{% endif %}
{% endfor %}
{% endblock %}

{% block admin_change_form_document_ready %}
	<script type="text/javascript">
	var requestAnimationFrame = window.requestAnimationFrame;
	var vid = document.getElementById('mediaElementID');
	vid.currentTime = {{original.聲音開始時間}};
	
	function trackCurrentTime() {
		// `this` : `audio`
		console.log(this.currentTime);
  		if (this.currentTime >= {{original.聲音結束時間}}-0.01) {
  			console.log("pause !");
    		this.pause();
    		this.currentTime = {{original.聲音開始時間}};
  		} else {
    		requestAnimationFrame(trackCurrentTime.bind(this))
  		}
	}
	
	vid.oncanplay = function() {
    	console.log("Can start playing video");
	};
	vid.onplay = function(){
		console.log("Onplay");
		trackCurrentTime.call(vid);
	}
	
	</script>
{% endblock %}