{% extends "admin/change_form.html" %}

{% block field_sets %}

{% if original.音檔.原始檔 != None %}
		<fieldset class="module aligned wide">
    		<div class='form-row'>
	            <label for="id_mediaElementID">音檔片段：</label>
	    		<audio controls id='mediaElementID' autoplay>
		        	<source src="/音檔/{{original.音檔.id}}/{{original.聲音開始時間}}/{{original.聲音結束時間}}/audio.wav">
		        	Your browser does not support the audio element.
	    		</audio>
			</div>
		</fieldset>
{% endif %}
  	
{% for fieldset in adminform %}
	{% include "admin/gi2_liau7_khoo3/語料表/custom_fieldset.html" %}
{% endfor %}
{% endblock %}

{% block admin_change_form_document_ready %}
	<script type="text/javascript">
	var requestAnimationFrame = window.requestAnimationFrame;
	var vid = document.getElementById('mediaElementID');
	vid.currentTime = {{original.聲音開始時間}};
	
	function trackCurrentTime() {
		// `this` : `audio`
		console.log(this.currentTime);
  		if (this.currentTime >= {{original.聲音結束時間}}-0.01) {
  			console.log("pause !");
    		this.pause();
    		this.currentTime = {{original.聲音開始時間}};
  		} else {
    		requestAnimationFrame(trackCurrentTime.bind(this))
  		}
	}
	
	vid.oncanplay = function() {
    	console.log("Can start playing video");
	};
	vid.onplay = function(){
		console.log("Onplay");
		trackCurrentTime.call(vid);
	}
	
	django.jQuery("#senn1pun2tiau7").on('click', function(){
		var a='/標本調/'+django.jQuery("#id_漢字").val()+'/'+django.jQuery("#id_本調臺羅").val();
		/*alert(a);/* /*  */ 
		var jqxhr = django.jQuery.ajax( a )
		  .done(function(data) {
			django.jQuery("#id_本調臺羅").val(data.本調);
		  })
		  .fail(function() {
		    alert( "error" );
		  });
		/*
		  .always(function() {
		    alert( "complete" );
		  });*/

	})
	</script>
{% endblock %}