/*
* Over
*/
.module {
}
/*
* Overriding style for CheckboxSelectMultiple widget
*/
form .related-widget-wrapper ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 60vw;
}
/*
* Style for TextField Hint
*/
.field-hint {
	color: #666;
	display:inline-block;
	padding-left: 6px;
}