/*
* Overriding fieldset style 
*/
.module {
	margin-bottom: 20px;
}
.wide label {
	width: 100px;
}
/*
* Overriding style of CheckboxSelectMultiple widget
*/
form .related-widget-wrapper ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 60vw;
}
/*
* Style for TextField
*/
.field-long {
	display: flex;
	width: 80%;
 	flex-flow: column nowrap;
}
.field-hint {
	color: #666;
	display: inline-block;
	padding-left: 6px;
	line-height: 1.6em; 
}